:root {
    font-family: "Open Sans", sans-serif;
    font-family: "Raleway", sans-serif;
}

h1 {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 2em;
}

h2 {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 1.5em;
}

h3 {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 1.17em;
}

h4 {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 1em;
}

h5 {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 0.83em;
}

p {
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-size: 1em;
}

#RaleNav {
    font-family: "Raleway", sans-serif;
    font-size: 2em;
}

.navbar-nav {
    font-family: "Open Sans", sans-serif;
}

.ccontainer {
    margin-top: 2rem;
}

.cccontainer{
    padding-top: 1rem;
    padding-bottom: 2rem;
}

/* COLOR REFERENCE
BLUE - #0078bf
ORANGE - #ffae3b
WHITE - #FFFFFF
BLACK - #000000
ROSE - #f15060
GREEN - #67b346
END COLOR REFERENCE */
