:root {
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 3.2em;
  /* line-height: 1.5; */
}

#Rale {
  font-family: "Raleway", sans-serif;
}
